{% extends "blog/base.html" %}
{% block content %}
<div class="container d-flex justify-content-center" style="width: 30rem;">
    <form method="post">
        {% csrf_token %}
        {% for field in form1 %}
            <div class="form-floating my-2">
            {{field}}
            <label>{{field.label}}</label>
        {% endfor %}
        <div class="d-flex justify-content-center btn btn-primary my-2" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            Gerne
        </div>
            <div style="min-height: 8px; width: 30rem;">
                <div class="collapse my-2" id="collapseWidthExample">
                    <div class="card card-body" style="width: 30rem;">
                        <div class="" role="group" aria-label="Basic checkbox toggle button group">
                            {% for field1 in form2 %}
                                {% for field in field1 %}
                                    {{field.tag}}
                                    <label class="btn btn-outline-primary mb-1" for="{{field.id_for_label}}">{{field.choice_label}}</label>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        
        <button class="d-flex justify-content-center container fs-3 btn btn-primary" type="submit">Post</button></button>
    </form>
</div>


{% endblock %}